*.pyc
*.swp
*.lock
*.log
.idea/
.DS_Store
archery/settings.py.github
archery/settings.py.dev
archery/settings_dev.py
sql/migrations/
venv
src/docker-compose/archery/downloads/log/
src/docker-compose/mongo/
src/docker-compose/mysql/datadir/
